<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ grade.type }} details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'students/basic.css' %}" type="text/css">
</head>
<body>
<h3>Students with Grade {{ grade.type }}:</h3>
{% if grade.student_set.all %}
<ol>
    {% for student in grade.student_set.all %}
    <li><a href="{% url 'students:student' student.id %}">{{ student.fullname }}</a></li>
    {% endfor %}
</ol>
{% else %}
<p>No students are currently in this grade.</p>
{% endif %}
</body>
</html>